body {
  font-size: .875rem;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
td {
  word-break: break-all;
}



/*  ################################################################
  Throughout App
################################################################# */

/*app background*/
.showcase_image {
  position: fixed;
  background-size: cover;
  background: no-repeat center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
}





/**** small device ***/
@media only screen and (max-width: 768px) {
  
  /*  Landing page  */
  .showcase {
    height: 500px;
    color: gray;
    font-size: 3vw;
  }

  .showcase_wrap_text {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 6vw;
    width: 100%;
    text-shadow: 1px 1px 1px rgb(124, 129, 129);
  }

  .showcase_wrap {
    padding-top: 200px;
    text-align: center;
  }

  .login-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin: 15% 25%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  .login-button:hover {
    background-color: #41B8B2;
    opacity: .8;
    border-radius: 8px;
    margin: 15% 25%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }

   /* navbar */
   .nav-link {
    color: rgb(196, 202, 202);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vw;
  }
  
  .nav-link:hover {
    color: #41B8B2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vw;
  }
  
  .nav-add-chart {
    color: #41B8B2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6vw;
  }

  .add-chart-btn {
    color: #41B8B2 !important;
    border: solid 1px #41B8B2;
    background: transparent;
    width: 100%;

  }
  
  .add-chart-btn:hover {
    color: white !important;
    border: solid 1px #41B8B2;
    background: #41B8B2;
    width: 100%;
  }

  main {
    /* Space for fixed navbar */
    padding-top: 70px;
  }

  /*  Login page  */
  .login-page {
    padding-top: 30%;  
  }
  .login-card {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    margin-top: 60px;
  }

  .login-title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #41B8B2;
    text-align: left;
  }

  /* add chart in navbar  */
  .nav-hamburger-menu {
    width: 70%;
    margin-left: -15px;
    margin-top: 5px;
  }

  /* Main charts */
  .charts-container {
    padding-top: 3%;
    height: 200px;
  }

  .watchlist {
    padding-top: 15%;
    margin-bottom: 10px;
    margin-right: 12px;
  }

  .watchlist-item {
    font-size: 1.5em;
    background: rgb(248, 247, 247);
  }

  .delete-but {
    float: right;
    padding-right: 0px;
    background: transparent;
  }

  .delete-coin {
    padding-right: 8px;
    background: transparent;
  }

  .add-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin: 10px 10px;

    font-size: large;
    color: white;
  }
  
  .add-button:hover {
    background-color: #41B8B2;
    opacity: .8;
    border-radius: 8px;
    margin: 10% 10%;
    padding: 10px;
    font-size: large;
    color: white;
  }


  .log-form {
    margin-top: 30px;
    padding: 10px;
    background: rgb(248, 247, 247);
  
  }

  .coin-btn {
    background: #41B8B2;
    color: white;
    margin: 0px 20px;
  }

  .log-container {
    position: absolute;
    padding: 10px;
  }

  .coin-symbol {
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;
  }
  .label {
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .sub-label {
    font-size: .8em;
    color: rgb(173, 170, 170);
  }
  
}


/**** desktop device ***/
@media only screen and (min-width: 601px) {
  
  /* Landing page */
  .showcase {
    height: 500px;
    color: gray;
    text-align: left;
    font-size: 2vw;
    width: 100%;
  }

  .showcase_wrap_text {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 4vw;
    width: 100%;
    text-shadow: 1px 1px 1px rgb(124, 129, 129);
  }

 
  
  .showcase_wrap {
    padding-top: 15%;
  }

  .login-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin-top: 3%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  .login-button:hover {
    background-color: #41B8B2;
    opacity: .8;
    border-radius: 8px;
    margin-top: 3%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  /* navbar */
  .nav-link {
    color: rgb(196, 202, 202);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
  }
  
  .nav-link:hover {
    color: #41B8B2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
  }
  
  .nav-add-chart {
    color: #41B8B2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2vw;
  }

  .add-chart-btn {
    color: #41B8B2 !important;
    border: solid 1px #41B8B2;
    background: transparent;
    width: 96%;
  }
  
  .add-chart-btn:hover {
    color: white !important;
    border: solid 1px #41B8B2;
    background: #41B8B2;
    width: 96%;
  }

  main {
    /* Space for fixed navbar */
    padding-top: 80px;
  }

  /*  Login page  */
  .login-page {
    padding-top: 10%;  
  }

  .login-card {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding-top: 5px;
  }

  .login-title {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: #41B8B2;
    text-align: left;
  }

  .nav-hamburger-menu {
    width: 30%;
    margin-left: -15px;
  }

  .charts-container {
    padding-top: 3%;
    height: 600px;
  }

  .watchlist {
    padding-top: 10%;
    margin-bottom: 10px; 
  }
  .watchlist-item {
    font-size: 1em;
    text-align: left;
  }

  .delete-but {
    float: right;
    padding-right: 0px;
    background: transparent;
  }

  .delete-coin {
    padding-right: 5px;
    background: transparent;
  }

  .add-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin: 3% 10%;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  .add-button:hover {
    background-color: #41B8B2;
    opacity: .8;
    border-radius: 8px;
    margin: 3% 10%;
    font-size: large;
    color: white;
    width: 40%;
  }

  .log-form {
    padding: 40px 20px 0px 20px;
    background: rgb(248, 247, 247);
  }

  .coin-symbol {
    font-size: 1.8em;
    font-family: 'Josefin Sans', sans-serif;
  }

  .coin-btn {
    background: #41B8B2;
    color: white;
    margin: 0px 40px;
  }

  .label {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .sub-label {
    font-size: 1.1em;
    color: rgb(173, 170, 170);
  }

}


/* GENERAL STYLES */
.login-btn {
  background-color: #41B8B2;
  font-size: large;
  color: white;
  width: 100%;
}

.login-btn:hover {
  background-color: black;
  font-size: large;
  color: white;
  width: 100%;
}

.login-links {
  color: #41B8B2;
}

.back-link {
  color: #41B8B2;
  float: right;
}

.heading {
  display: inline-block;
}

/* Portfolio */


.positive {
  color: #41B8B2
}

.negative {
  color: red;
}

.coin-card {
  background: black;
  color: white;
  border: solid 1px #41B8B2;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 40px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/*
 * Navbar
 */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.nav-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: #41B8B2 !important;
}

.navi {
  background-color: black;
  color: #41B8B2;
  padding-left: 20px;
}

.nav-hamburger {
  font-size: 25px;
  color: #41B8B2;
}














