body {
  font-size: .875rem;
}

h3 {
  color: gray;
}

.center {
  text-align: center;
}


/*  ################################################################
  Throughout App
################################################################# */

/*app background*/
.showcase_image {
  position: fixed;
  background-size: cover;
  background: no-repeat center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
}










/**** small device ***/
@media only screen and (max-width: 600px) {
  
  /*  Landing page  */
  .showcase {
    height: 500px;
    color: gray;
    font-size: 3vw;
  }

  .showcase_wrap_text {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 6vw;
    width: 100%;
    text-shadow: 1px 1px 1px rgb(124, 129, 129);
  }

  .showcase_wrap {
    padding-top: 200px;
    text-align: center;
  }

  .login-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin: 15% 25%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  .login-button:hover {
    background-color: black;
    border-radius: 8px;
    margin: 15% 25%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }

  /*  Login page  */
  .login-page {
    padding-top: 30%;  
  }
  .login-card {
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;
    margin-top: 60px;
  }

  .login-title {
    font-family: sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: #41B8B2;
    text-align: left;
  }

  /* add chart in navbar  */
  .nav-hamburger-menu {
    width: 50%;
    margin-left: -15px;
  }

  /* Main charts */
  .charts-container {
    padding-top: 3%;
    height: 200px;
  }
}


/**** desktop device ***/
@media only screen and (min-width: 601px) {
  
  /* Landing page */
  .showcase {
    height: 500px;
    color: gray;
    text-align: left;
    font-size: 2vw;
    width: 100%;
  }

  .showcase_wrap_text {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 400;
    font-size: 4vw;
    width: 100%;
    text-shadow: 1px 1px 1px rgb(124, 129, 129);
  }

 
  
  .showcase_wrap {
    padding-top: 15%;
  }

  .login-button {
    background-color: #41B8B2;
    border-radius: 8px;
    margin-top: 3%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }
  
  .login-button:hover {
    background-color: black;
    border-radius: 8px;
    margin-top: 3%;
    padding: 10px;
    font-size: large;
    color: white;
    width: 40%;
  }

  /*  Login page  */
  .login-page {
    padding-top: 10%;  
  }

  .login-card {
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding-top: 5px;
  }

  .login-title {
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: #41B8B2;
    text-align: left;
  }

  .nav-hamburger-menu {
    width: 20%;
    margin-left: -15px;
  }

  .charts-container {
    padding-top: 3%;
    height: 600px;
  }
}








.login-btn {
  background-color: #41B8B2;
  font-size: large;
  color: white;
  width: 100%;
}

.login-btn:hover {
  background-color: black;
  font-size: large;
  color: white;
  width: 100%;
}

.login-links {
  color: #41B8B2;
}




/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 40px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}



/*
 * Content
 */

[role="main"] {
   /* Space for fixed navbar */
   padding-top: 50px;
}



/*
 * Navbar
 */

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.nav-brand {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: #41B8B2 !important;
}

.navi {
  background-color: black;
  color: #41B8B2;
}


.nav-link {
  color: rgb(196, 202, 202);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
}

.nav-link:hover {
  color: #41B8B2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
}

.nav-add-chart {
  color: #41B8B2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2vw;
}

.nav-hamburger {
  font-size: 25px;
  color: #41B8B2;
}



.add-chart-btn {
  color: #41B8B2 !important;
  border: solid 1px #41B8B2;
  background: transparent;
}

.delete-but {
  float: right;
}






/*
 * Watchlist
 */

